

            <!-- begin of slideshow -->
            <div id="slideshow">
            	<ul>
                	<li><img src="assets/slide2.jpg" alt="" /></li><!-- slide 1 -->
                </ul>
            	<div id="pager"></div>
            </div>
            <!-- end of slideshow -->

            <!-- begin of welcome-slogan -->
            <div id="slogan">
            <h1>Modern minimalist design with professional look, great choice for your business site, portfolio site, or personal site</h1>
            </div>
            <div class="dot-separator"></div>
            <div id="get-in-touch">
            <a href="contact.html"><img src="images/get-in-touch.gif" alt="" /></a>
            </div>
            <!-- end of welcome-slogan -->

        </div>
        <!-- END OF HEADER -->

        <!-- BEGIN OF FRONT-BOX -->
        <div id="mid-container">
        	<div id="front-box">

                <!-- begin of front content 1 -->
                <div class="front-box-content">
                	<div class="img-front"><img src="/assets/front1.png" alt=""/></div>
                <h4>Construct a Future</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt expli cabo. Nemo enim ipsam voluptatem quia</p>
                </div>
                <!-- end of front content 1 -->

                <div class="dot-separator-content"></div>

                <!-- begin of front content 2 -->
                <div class="front-box-content">
                	<div class="img-front"><img src="/assets/front2.png" alt=""/></div>
                <h4>Business Monitoring</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt expli cabo. Nemo enim ipsam voluptatem quia</p>
                </div>
                <!-- end of front content 2 -->

                <div class="dot-separator-content"></div>

                <!-- begin of front content 3 -->
                <div class="front-box-content">
                	<div class="img-front"><img src="/assets/front3.png" alt=""/></div>
                <h4>User Management</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt expli cabo. Nemo enim ipsam voluptatem quia</p>
                </div>
                <!-- end of front content 3 -->

            </div>
        </div>
        <!-- END OF FRONT-BOX -->

        <!-- BEGIN OF CONTENT -->
        <div id="content">

            <!-- begin of content column 1 -->
            <div class="front-box-content">
            <h3>Let me introduce ourselves</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velitesse cillumdo lore eu fugiat nulla pariatur excepteu sint occaecat cupi.</p>
            </div>
            <!-- end of content column 1 -->

            <div class="separator-content">&nbsp;</div>

            <!-- begin of content column 2 -->
            <div class="front-box-content">
            <h3>Clients testimonials</h3>
            <blockquote>
            <p>Cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis voluptas assumen est, omnis dolor repellendus temporibus quibus dam et aut officiis debitis aut rerum necessitatib</p>
            </blockquote>
            <p><strong>John Doe - Business Consultant</strong></p>
            </div>
            <!-- end of content column 2 -->

            <div class="separator-content">&nbsp;</div>

            <!-- begin of content column 3 -->
            <div class="front-box-content">
                <ul class="client-list">
                    <li><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li class="client-last"><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                    <li class="client-last"><a href="#"><img src="assets/client-logo.gif" alt="" /></a></li>
                </ul>
            </div>
            <!-- end of content column 3 -->

        </div>
        <!-- END OF CONTENT -->
